
        body {
            margin: 0;
            padding: 20px;
            background: linear-gradient(120deg, rgb(168, 147, 242), rgb(239, 202, 134), rgb(132, 249, 130), pink);
            background-size: 500% 500%;
            animation: gd 10s ease infinite;
            text-align: center;
        }

        @keyframes gd {

            0%,
            100% {
                background-position: 0% 50%;
            }

            50% {
                background-position: 100%;
            }
        }

        

       button{
        background-color: rgb(53, 53, 246);
        border-radius: 20px;
        color: white;
       }
       
       tr:hover{
        background-color: lightpink;
       }

       button:hover{
        background-color: orange;
       }